header {
  display: flex;
  justify-content: space-around;
  background-color: burlywood;
  height: 70px;
  align-items: center;
}
header a {
  text-decoration: none;
  color: black;
}
.profiles p {
  color: red;
}
.post {
  display: flex;
  align-items: center ;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0px 0px 15px 5px black;
  width: 35%;
  margin: 25px auto;
  border-radius: 35px;
  padding: 15px;
  -webkit-animation: post 2s infinite;
}

@keyframes post {
  0% {
    box-shadow: 0 0 10px 3px gray;
  }
  50% {
    box-shadow: 0 0 10px 3px rgb(173, 0, 15);
  }
  100% {
    box-shadow: 0 0 10px 3px rgb(157, 25, 63);
  }
}
.like-btn {
  padding: 10px 15px;
  background-color: rgb(28, 184, 61);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
}
.dislike-btn {
  border: none;
  padding: 10px 15px;
  background-color: rgb(168, 42, 42);
  border-radius: 10px;
  cursor: pointer;
  color: white;
}
.delete-btn {
  border: none;
  cursor: pointer;
  background-color: rgb(99, 97, 97);
  color: white;
  border-radius: 10px;
  padding: 10px 15px;
}
.like-btn:hover {
  box-shadow: 0px 0px 10px 3px rgb(28, 184, 61);
}
.dislike-btn:hover {
  box-shadow: 0px 0px 10px 3px rgb(168, 42, 42);
}
.delete-btn:hover {
  box-shadow: 0px 0px 10px 3px rgb(99, 97, 97);
}
.friend {
  border: 3px solid black;
  display: flex; 
  justify-content: space-around;
  width: 350px;
  margin: 30px;
  align-items: center;
}
.friend-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-input {
  display: flex;
  margin: 25px;
}
.form-input input {
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 3px ;
  height: 30px;
  width: 150px;
}
.form-input textarea {
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 3px ;
  resize: none;
  height: 100px;
  width: 250px;
}
.form-post {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-post button {
  background-color: gray;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  padding: 5px 15px;
  color: white;
  transition: 0.5s;
  font-size: 16px ;
}
.form-post button:hover {
  box-shadow: 0px 0px 10px 3px gray;
}
@media (max-width: 768px) {
  header {
    justify-content: space-around;
  }
  .post p {
    font-size: 12px;
  }
}
@media (max-width: 480px) {
  header {
    flex-direction: column;
  }
}